7_MiniProject/kafka_lecture_tekrar.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>5264bbf2-0188-1000-c0a7-58eaa0801a12</groupId>
    <name>kafka_lecture_tekrar</name>
    <snippet>
        <processGroups>
            <id>aa2eebd4-fe41-3d75-0000-000000000000</id>
            <parentGroupId>4fef4674-924a-3370-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>21b6ce3d-0a85-3e5d-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>aa2eebd4-fe41-3d75-0000-000000000000</groupId>
                        <id>fbf90738-7095-3039-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>aa2eebd4-fe41-3d75-0000-000000000000</groupId>
                        <id>41bfb188-9c3e-3fda-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>400560aa-6d81-3152-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>aa2eebd4-fe41-3d75-0000-000000000000</groupId>
                        <id>87fa4f53-177f-3316-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>aa2eebd4-fe41-3d75-0000-000000000000</groupId>
                        <id>cf128185-d678-3639-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d829b1e0-23a7-335e-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>aa2eebd4-fe41-3d75-0000-000000000000</groupId>
                        <id>90866ad3-254a-3fd2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>aa2eebd4-fe41-3d75-0000-000000000000</groupId>
                        <id>cf128185-d678-3639-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>debbc6d1-b2b2-3a68-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>aa2eebd4-fe41-3d75-0000-000000000000</groupId>
                        <id>cf128185-d678-3639-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>sicaklik</selectedRelationships>
                    <source>
                        <groupId>aa2eebd4-fe41-3d75-0000-000000000000</groupId>
                        <id>fbf90738-7095-3039-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fb6896d4-0b2d-3d82-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>aa2eebd4-fe41-3d75-0000-000000000000</groupId>
                        <id>41bfb188-9c3e-3fda-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>aa2eebd4-fe41-3d75-0000-000000000000</groupId>
                        <id>7c190b7a-35f1-3d4d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>3bbbb1eb-fa48-3ccd-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-gcp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>application-default-credentials</key>
                            <value>
<name>application-default-credentials</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compute-engine-credentials</key>
                            <value>
<name>compute-engine-credentials</name>
                            </value>
                        </entry>
                        <entry>
                            <key>service-account-json-file</key>
                            <value>
<name>service-account-json-file</name>
                            </value>
                        </entry>
                        <entry>
                            <key>service-account-json</key>
                            <value>
<name>service-account-json</name>
                            </value>
                        </entry>
                        <entry>
                            <key>proxy-configuration-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
<name>proxy-configuration-service</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>GCPCredentialsControllerService_tekrar</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>application-default-credentials</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>compute-engine-credentials</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>service-account-json-file</key>
                        </entry>
                        <entry>
                            <key>service-account-json</key>
                        </entry>
                        <entry>
                            <key>proxy-configuration-service</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService</type>
                </controllerServices>
                <processors>
                    <id>41bfb188-9c3e-3fda-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <position>
                        <x>320.0</x>
                        <y>272.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>temp</key>
<value>
    <name>temp</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>temp</key>
<value>$.temp</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>7c190b7a-35f1-3d4d-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <position>
                        <x>320.0</x>
                        <y>56.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>separate-by-key</key>
<value>
    <name>separate-by-key</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>34.72.41.12:29092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>ornek</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>false</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>latest</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>separate-by-key</key>
<value>false</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>60 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeKafka_2_0</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0</type>
                </processors>
                <processors>
                    <id>87fa4f53-177f-3316-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <position>
                        <x>1232.0</x>
                        <y>272.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>release-signal-id</key>
<value>
    <name>release-signal-id</name>
</value>
                            </entry>
                            <entry>
<key>target-signal-count</key>
<value>
    <name>target-signal-count</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>
    <name>signal-counter-name</name>
</value>
                            </entry>
                            <entry>
<key>wait-buffer-count</key>
<value>
    <name>wait-buffer-count</name>
</value>
                            </entry>
                            <entry>
<key>releasable-flowfile-count</key>
<value>
    <name>releasable-flowfile-count</name>
</value>
                            </entry>
                            <entry>
<key>expiration-duration</key>
<value>
    <name>expiration-duration</name>
</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
    <name>distributed-cache-service</name>
</value>
                            </entry>
                            <entry>
<key>attribute-copy-mode</key>
<value>
    <name>attribute-copy-mode</name>
</value>
                            </entry>
                            <entry>
<key>wait-mode</key>
<value>
    <name>wait-mode</name>
</value>
                            </entry>
                            <entry>
<key>wait-penalty-duration</key>
<value>
    <name>wait-penalty-duration</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>release-signal-id</key>
                            </entry>
                            <entry>
<key>target-signal-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
                            </entry>
                            <entry>
<key>wait-buffer-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>releasable-flowfile-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>expiration-duration</key>
<value>10 min</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
                            </entry>
                            <entry>
<key>attribute-copy-mode</key>
<value>keeporiginal</value>
                            </entry>
                            <entry>
<key>wait-mode</key>
<value>wait</value>
                            </entry>
                            <entry>
<key>wait-penalty-duration</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Wait</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>expired</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>wait</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.Wait</type>
                </processors>
                <processors>
                    <id>90866ad3-254a-3fd2-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <position>
                        <x>776.0</x>
                        <y>272.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>release-signal-id</key>
<value>
    <name>release-signal-id</name>
</value>
                            </entry>
                            <entry>
<key>target-signal-count</key>
<value>
    <name>target-signal-count</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>
    <name>signal-counter-name</name>
</value>
                            </entry>
                            <entry>
<key>wait-buffer-count</key>
<value>
    <name>wait-buffer-count</name>
</value>
                            </entry>
                            <entry>
<key>releasable-flowfile-count</key>
<value>
    <name>releasable-flowfile-count</name>
</value>
                            </entry>
                            <entry>
<key>expiration-duration</key>
<value>
    <name>expiration-duration</name>
</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
    <name>distributed-cache-service</name>
</value>
                            </entry>
                            <entry>
<key>attribute-copy-mode</key>
<value>
    <name>attribute-copy-mode</name>
</value>
                            </entry>
                            <entry>
<key>wait-mode</key>
<value>
    <name>wait-mode</name>
</value>
                            </entry>
                            <entry>
<key>wait-penalty-duration</key>
<value>
    <name>wait-penalty-duration</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>release-signal-id</key>
                            </entry>
                            <entry>
<key>target-signal-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
                            </entry>
                            <entry>
<key>wait-buffer-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>releasable-flowfile-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>expiration-duration</key>
<value>10 min</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
                            </entry>
                            <entry>
<key>attribute-copy-mode</key>
<value>keeporiginal</value>
                            </entry>
                            <entry>
<key>wait-mode</key>
<value>wait</value>
                            </entry>
                            <entry>
<key>wait-penalty-duration</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Wait</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>expired</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>wait</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.Wait</type>
                </processors>
                <processors>
                    <id>cf128185-d678-3639-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <position>
                        <x>912.0</x>
                        <y>488.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-gcp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>gcp-project-id</key>
<value>
    <name>gcp-project-id</name>
</value>
                            </entry>
                            <entry>
<key>GCP Credentials Provider Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.gcp.credentials.service.GCPCredentialsService</identifiesControllerService>
    <name>GCP Credentials Provider Service</name>
</value>
                            </entry>
                            <entry>
<key>gcp-pubsub-topic</key>
<value>
    <name>gcp-pubsub-topic</name>
</value>
                            </entry>
                            <entry>
<key>gcp-pubsub-publish-batch-size</key>
<value>
    <name>gcp-pubsub-publish-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>gcp-project-id</key>
<value>qualified-ace-386113</value>
                            </entry>
                            <entry>
<key>GCP Credentials Provider Service</key>
<value>3bbbb1eb-fa48-3ccd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>gcp-pubsub-topic</key>
<value>iot3_tekrar</value>
                            </entry>
                            <entry>
<key>gcp-pubsub-publish-batch-size</key>
<value>15</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishGCPubSub</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.gcp.pubsub.PublishGCPubSub</type>
                </processors>
                <processors>
                    <id>fbf90738-7095-3039-0000-000000000000</id>
                    <parentGroupId>aa2eebd4-fe41-3d75-0000-000000000000</parentGroupId>
                    <position>
                        <x>320.0</x>
                        <y>488.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>sicaklik</key>
<value>
    <name>sicaklik</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>sicaklik</key>
<value>${temp:ge(18)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>sicaklik</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>kafka_lecture_tekrar</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/04/2023 13:05:17 UTC</timestamp>
</template>
